<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SeconWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ToDoFinalApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TodayWidget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FDE9B1521F6DA010020B243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C87744021F208EF00E6694E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAD825F21BEE99B008AE224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAD827621BEE99C008AE224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CAD828121BEE99C008AE224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
